@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 550px;
    width: 500px;
    margin: auto;
    background-color: #191b28;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid rgb(200, 34, 250) 1px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 55%;
    right: 150px;
}

#btn {
    background-color: #3dff11;
    color: #000000;
}

input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #000000;
    color: rgb(237, 70, 217);
    border: solid rgb(244, 83, 83) 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 57%;
    outline: none;
}

input:active[type=button] {
    background: #e5e5e5;
    color: #000000;
    -webkit-box-shadow: inset 0px 0px 5px #e5e0e0;
    -moz-box-shadow: inset 0px 0px 5px #f1f1f1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

h3,h4{
    color: #c1c1c1;
}